body{
  color: $default-text;
  background-image: linear-gradient($bg-color, white, $bg-color)
}

h1{
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  font-weight: 600;
}

a{
  color: $title-text;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: $title-text-hover;
  }
}
