.main-content{
  min-height: 80vh;
  .movie-clips{
    .current{
      background-color: $edit-row;
    }
  }
  .player{
    .loader{
      background-image: url(./assets/770.gif);
      background-position: center;
      background-repeat: no-repeat;
      min-width: 4rem;
      min-height: 4rem;
      position: absolute;
      top: 10rem;
      left: 25rem;
      &.hide{
        display: none;
      }
    }
  }
  .markers-bar{
    height: 0.5rem;
    width: 100%;
    background-color: $title-text;
    overflow: visible;
    .marker{
      height: 0.6rem;
      width: 0.25rem;
      margin-top: -1px;
      background-color: $default-text;
      position: absolute;
      cursor: pointer;
    }
  }
}
