
<div class="row player-playlist" (window:keydown)="this.hotKeyPressed($event)">
  <!-- Playlist section -->
  <div class="col-sm-5 playlist">
    <!-- Search filter by tags -->
    <p>
      Search by tag <input placeholder="Try 'intro', 'trailer' and 'movie'" [(ngModel)]="this.searchTag" (keyup)="this.filterClipsByTag(this.searchTag)">
    </p>
    <!-- Playlist -->
    <table class="movie-clips">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Tag</th>
        <th>Actions</th>
      </tr>
      <tr [ngClass]="{'current': this.selectedClipIndex == -1}">
        <td></td>
        <td>
          <span [hidden]="editVideo" class="text-strong">{{ this.objVideo.videoName }}.</span>
          <span [hidden]="!editVideo"><input class="list-input" type="text" [(ngModel)]="this.objVideo.videoName"></span>
        </td>
        <td class="text-strong">Duration:</td>
        <td>{{this.objVideo.videoDuration}}s.</td>
        <td></td>
        <td>
          <button *ngIf="this.mode" class="btn btn-edit" (click)="editVideo = !editVideo" [hidden]="editVideo"><i class="fas fa-edit"></i></button>
          <button class="btn btn-play" (click)="editVideo = !editVideo" [hidden]="!editVideo"><i class="fas fa-save"></i></button>
          <button class="btn btn-play" (click)="playClip(this.fullVideo, -1)"><i class="fas fa-play"></i></button>
        </td>
      </tr>
      <tr><td colspan="5"><hr></td></tr>
      <tr *ngFor="let item of this.filteredClips; let i=index" [ngClass]="{'current': this.selectedClipIndex == i}">
        <td>
          <span class="text-pale">{{ i+1 }}.</span>
        </td>
        <td>
          <span [hidden]="this.editClip && this.selectedClipIndex == i">{{ item.clipName }}</span>
          <input  class="list-input" [hidden]="!this.editClip || this.selectedClipIndex != i" [(ngModel)]="item.clipName">
        </td>
        <td>
          <span [hidden]="this.editClip && this.selectedClipIndex == i">{{ item.startTime }}</span>
          <input class="list-input" [hidden]="!this.editClip || this.selectedClipIndex != i" [(ngModel)]="item.startTime">s.
        </td>
        <td>
          <span [hidden]="this.editClip && this.selectedClipIndex == i">{{ item.endTime }}</span>
          <input class="list-input" [hidden]="!this.editClip || this.selectedClipIndex != i" [(ngModel)]="item.endTime">s.
        </td>
        <td>
          <em [hidden]="this.editClip && this.selectedClipIndex == i">{{ item.searchTag }}</em>
          <input class="list-input" [hidden]="!this.editClip || this.selectedClipIndex != i" [(ngModel)]="item.searchTag">
        </td>
        <td>
          <button *ngIf="this.mode" class="btn btn-edit" (click)="this.editClip = !this.editClip; this.selectedClipIndex = i" [hidden]="this.editClip && this.selectedClipIndex == i"><i class="fas fa-edit"></i></button>
          <button class="btn btn-play" (click)="this.editClip = !this.editClip; this.selectedClipIndex = undefined" [hidden]="!this.editClip || this.selectedClipIndex != i"><i class="fas fa-save"></i></button>
          <button class="btn btn-play" (click)="this.playClip(item, i);"><i class="fas fa-play"></i></button>
          <button *ngIf="this.mode" class="btn btn-delete" (click)="this.removeClip(i)"><i class="fas fa-times"></i></button>
        </td>
      </tr>
    </table>

    <!-- Play all clips button -->
    <p class="float-right">
      <button class="btn btn-play" (click)="playAllClips()"><i class="fas fa-film"></i></button>
    </p>
  </div>

  <!-- Video player -->
  <div class="col-sm-7 player">
    <b>Playing:</b> {{this.selectedClip.clipName}}
    <video controls id="videoPlayer" preload="auto">
      <source id="videoPlayerSource" src="http://grochtdreis.de/fuer-jsfiddle/video/sintel_trailer-480.mp4" type="video/mp4">
    </video>
    <div class="loader hide" id="loader"></div>
    <div class="markers-bar">
      <!--

      -->
      <div class="marker" (click)="this.playClip(this.filteredClips[1], 1)"
        [ngStyle]="{'left': this.calculateMarkerLeft(this.filteredClips[1])}" >
      </div>
    </div>
  </div>
</div>

<!-- Clip manager -->
<div *ngIf="this.mode" class="row clip-manager">
  <table>
    <tr><th colspan="5">New video clip</th></tr>
    <tr>
      <th>Name</th>
      <th>Tag</th>
      <th>Start</th>
      <th>End</th>
      <th>Add</th>
    </tr>
    <tr>
      <td>
        <input class="add-input" placeholder="Video clip name" [(ngModel)]="this.newClip.clipName">
      </td>
      <td>
        <input class="add-input" placeholder="Search tag" [(ngModel)]="this.newClip.searchTag">
      </td>
      <td>
        <input class="add-input" type="number" placeholder="0 - {{this.objVideo.videoRoundedDuration}}" [(ngModel)]="this.newClip.startTime">
      </td>
      <td>
        <input class="add-input" type="number" placeholder="0 - {{this.objVideo.videoRoundedDuration}}" [(ngModel)]="this.newClip.endTime">
      </td>
      <td>
        <button class="btn btn-play" (click)="this.addClip(this.newClip)">
          <i class="fas fa-plus"></i>
        </button>
      </td>
    </tr>
  </table>
</div>
