
<div class="row player-playlist">
  <div class="col-sm-5 playlist">
    <p>
      Filter by tag <input placeholder="Try 'a', 'b' and 'c'" ng-model="tagName">
      (<em>New tags can be added and modified.</em>)
    </p>
    <ul class="movie-clips">
      <li ng-class="{ current: selected == 'full' }">
        <span ng-hide="editFull" class="text-strong">{{ this.objVideo.videoName }}.</span>
        <span ng-show="editFull"><input type="text" ng-model="movieName"></span><br>
        <span>Duration: {{this.objVideo.videoDuration}}s.</span>
        <span class="float-right">
          <button class="btn btn-edit" ng-click="editFull = !editFull" ng-hide="editFull"><i class="fas fa-edit"></i></button>
          <button class="btn btn-play" ng-click="editFull = !editFull" ng-show="editFull"><i class="fas fa-save"></i></button>
          <button class="btn btn-play" ng-click="playVideoFragment(-1, -1, movieName, 'full')"><i class="fas fa-play"></i></button>
        </span>
      </li>
      <li class="container" *ngFor="let item of this.filteredClips; let i=index" [ngClass]="{'current': this.selectedClipIndex == i}">
        <span ng-hide="edit">
          <span class="text-pale">{{ i }}.</span> {{ item.clipName }}.
          Start: <strong>{{ item.startTime }}</strong>s.
          End: <strong>{{ item.endTime }}</strong>s.
          Tag: <em>{{ item.searchTag }}</em>
        </span>
        <span class="float-right">
          <button class="btn btn-edit" (click)="this.editClip = !this.editClip" [hidden]="this.editClip"><i class="fas fa-edit"></i></button>
          <button class="btn btn-play" (click)="this.editClip = !this.editClip" [hidden]="!this.editClip"><i class="fas fa-save"></i></button>
          <button class="btn btn-play" (click)="this.playClip(item, i);"><i class="fas fa-play"></i></button>
          <button class="btn btn-delete" (click)="this.removeItem(key)"><i class="fas fa-times"></i></button>
        </span>
        <!--
        <dl class="edit-inputs" [hidden]="!edit">
          <dt>Clip name:</dt>
          <dd><input [(ngModel)]="item.clipName"></dd>
          <dt>Tag:</dt>
          <dd><input [(ngModel)]="item.searchTag"></dd>
          <dt>Time span:</dt>
          <dd>
            Start: <input type="number" max="{{this.objVideo.videoRoundedDuration}}" min="0" [(ngModel)]="item.startTime">
            End: <input type="number" max="{{this.objVideo.videoRoundedDuration}}" min="{{item.starTime || 0}}" [(ng-model)]="item.endTime">
            (<em>seconds</em>)
          </dd>
        </dl>
        -->

      </li>
    </ul>
    <p class="float-right">
      <button class="btn btn-play" (click)="playAllFragments()"><i class="fas fa-film"></i></button>
    </p>
  </div>
  <div class="col-sm-7 player">
    <video controls id="videoPlayer">
      <source id="videoPlayerSource" src="http://grochtdreis.de/fuer-jsfiddle/video/sintel_trailer-480.mp4" type="video/mp4">
    </video>
  </div>
</div>
<app-clip-manager></app-clip-manager>
