<div class="row clip-manager">
  <h4>New video clip</h4>
    <p>
      Name: <input placeholder="Video clip name" ng-model="name">
    </p>
    <p>
      Tag: <input placeholder="Tag" ng-model="tag">
    </p>
    <p>
      Start: <input type="number" placeholder="0-{{dRounded}}" max="{{dRounded}}" min="0" ng-model="start"> s.
      End: <input type="number" placeholder="{{start || 0}}-{{dRounded}}" max="{{dRounded}}" min="{{start || 0}}" ng-model="end"> s.
    </p>
    <p>
      <button ng-click="addItem({name: name, tag: tag, start: start, end: end })">Add New</button>
    </p>
</div>
